* {
  border: 1px solid transparent;
}

.root {
  padding: 3%;
}

.message {
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
  border-radius: 15px;
  overflow-y: auto;
  box-sizing: border-box;
  border: 1px solid #000;
}

.message__body {
  display: flex;
  justify-content: space-between;
}

.input {
  margin: 10px 0;
  width: 100%;
  line-height: 30px;
  border: solid 1px #6c6c6c;
}

.popup {
  position: absolute;
  top: 100px;
  left: calc(50% - 250px);

  padding: 15px;
  width: 500px;

  font-size: 17px;
  background-color: #fff;
  border: solid 1px #6c6c6c;
  border-radius: 5px;
}

.popup_title {
  font-size: 17px;
  font-weight: normal;

}

.buttons {
  direction: rtl;
}

.btn {
  margin-right: 5px;
  color: #6c6c6c;
  background-color: #fff;
  border-radius: 5px;
  border-color: #6c6c6c;
}

.popup .btn {
  padding: 10px;
}

.tooltip-error {
  position: absolute;
  padding: 5px;
  max-width: 276px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid rgb(238, 106, 13);
  border-radius: 0.3rem;
}